.radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.radio-option {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
  user-select: none;
}

.radio-option:nth-child(1) {
  background-color: #560bad;
}

.radio-option:nth-child(2) {
  background-color: #3a86ff;
}

.radio-option:nth-child(3) {
  background-color: #eb5e28;
}

.radio-option:nth-child(4) {
  background-color: #800f2f;
}

.radio-option:hover {
  background: #3a3a3a;
}
