.radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

}



.radio-option {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
  user-select: none;
}

.radio-option:nth-child(1) {
  background: linear-gradient(135deg, #120018 0%, #2B0A3D 45%, #5A189A 100%);
}


.radio-option:nth-child(2) {
   background: linear-gradient(135deg, #3B0A0A 0%, #7A1C12 45%, #D14A1A 100%);
}

.radio-option:nth-child(3) {
  background: linear-gradient(135deg, #000000 0%, #1f1f1f 45%, #0c0505 100%);
}

.radio-option:hover {
  background: #3a3a3a;
}
