/* --- Overlay --- */
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  padding: 25px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.35);
  animation: fadeIn 0.25s ease;
  z-index: 15;
}

.Modal svg {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 10px;
  top: 20px;
  
}

/* Imagen usuario */
.Modal img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
}

/* Contenedor inputs */
.Modal-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;
  margin-bottom: 20px;
}

/* Input nombre */
.Modal-input input[type="text"] {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  font-size: 14px;
  color: #fff;
  outline: none;
  transition: 0.2s ease;
}

.Modal-input input[type="text"]::placeholder {
  color: #dddddd;
}

.Modal-input input[type="text"]:focus {
  background: rgba(255, 255, 255, 0.35);
}

/* --- Opciones estilo “radio group” --- */
.radio-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

.radio-option-modal {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  background: rgba(26, 0, 68, 0.2);
  border: 1px solid transparent;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
  user-select: none;
}

.radio-option:hover {
  background: rgba(255, 255, 255, 0.28);
}

.radio-option.selected {
  background: rgba(255, 255, 255, 0.45);
  border-color: rgba(255, 255, 255, 0.6);
  color: #000;
}



.Modal-button:hover {
  background: #000;
}

.Modal p {
  font-size: 24px;
  margin-bottom: 15px;
  
}

/* Animación entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -46%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
