
.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111113;
    padding: 25px 15px;
    width: auto;
}

.sidebar img {
    width: 20px;
    
    color: white;
}


.sidebar .MenuPC {
    display: block;
    margin-left: 10px;
    cursor: pointer;
    width: 35px;
    color: white;
}

.title {
    font-size: 16px;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
}

.sidebar .new-chat {
    margin-top: 35px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    background-color: #0B0F19;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn, 1s;
}

.sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #c4c7c5;
    cursor: pointer;
    
}

.sidebar .recent-entry img {
    background-color: white;
    border-radius: 50%;
    
}

.sidebar .recent-entry:hover {
    background-color: #242127;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
    
}

.sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
}

.delete-svg {
    color: red;
    width: 20px;
    height: 20px;
}

.delete-svg:hover {
    background-color: #242127;
}

@media (max-width: 600px) {
    

    .sidebar  {
        display: none;
        min-width: 68vw;
        
        
    }

    

    .sidebar.open {
    display: inline-flex;
    height: 100%;
    z-index: 10;
    
    
}

.sidebar .MenuPC {
    display: none;
}
}